<h1>hey</h1>

{% schema %}
{
  "name": "test",
  "tag": "section",
  "class": "cool",
  "settings": [
  {
    "type": "text",
    "id": "heading",
    "default": "Sick",
    "label": "Heading"
  }
],
"presets": [
  {
    "name": "test"
  }
]
}
{% endschema %}